@import '../../sass/main.scss';

.about_main {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 95%;
    margin: 0 auto;

    &_collapse {
        margin: 40px auto;
    }

    min-height: calc(100vh - 595px);
}